.default-color0.chart-pie { -fx-pie-color: #ffeb59; }/*History*/
.default-color1.chart-pie { -fx-pie-color: #16ff41; }/*science*/
.default-color2.chart-pie { -fx-pie-color: #2ab3ff; }/*geography*/
.default-color3.chart-pie { -fx-pie-color: #9a38ff; }/*crown*/
.default-color4.chart-pie { -fx-pie-color: #ff8f17; } /*sport*/



#backgoundImage{
  -fx-background-image: url("../Images/charas-lg.png");
  -fx-background-size: 100%;
}

#wining{
  -fx-background-image: url("../Images/tc-banner.jpg");
  -fx-background-size: 100%;
  -fx-background-repeat: no-repeat;
}


#rest{
  -fx-background-color: #6cb26a;
}