.default-color0.chart-pie { -fx-pie-color: gold; }
.default-color1.chart-pie { -fx-pie-color: #19bcff; }
.default-color2.chart-pie { -fx-pie-color: #67ff2f; }
.default-color3.chart-pie { -fx-pie-color: #ff8e0f; }
.default-color4.chart-pie { -fx-pie-color: #ff3a13; }